@*Shared/MainLayotr.razor*@
@inherits LayoutComponentBase

<PageTitle>LabBenchManager</PageTitle>
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 d-flex justify-content-end align-items-center">
            @* 将 LoginDisplay 组件放在这里 *@
            <LoginDisplay />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
